PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

NODE_ENV=production or development
HAS_HTTPS=true or false
PORT=3000
CLIENT_ORIGIN=http://localhost:5174
VITE_SOCKET_URL=http://localhost:3000

JWT_SECRET=

GMAIL_USER=
GMAIL_APP_PASSWORD=