#home {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(100px);
  transition:
    opacity 1s ease-out,
    transform 0.5s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.home-projects {
  width: 100%;
  max-width: 1800px;
}

#home-info {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 20px;
  background-color: var(--color-bg-accent);
}

#home-info-text {
  margin: 10px 0px;
  max-width: 1000px;
}

#home-info-text > b {
  font-size: var(--xlarge);
  color: light-dark(var(--color-accent), var(--color-highlight));
}

.card-holder {
  display: flex;
  justify-content: center;
  gap: 10px 20px;
  margin: 15px;
}

@media screen and (max-width: 750px) {
  .card-holder {
    flex-direction: column;
    align-items: center;
    gap: 10px 20px;
  }
}
