#zipline-app{
    border-radius: var(--radius-lg);
    padding: 45px;
    background-color: var(--color-bg-accent);
}

#room-options{
    text-align: center;
    min-width: 300px;
}

#create-room, #join-room{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-room, #join-room{
    padding: 20px;
    margin-bottom: 5px;
    border-radius: var(--radius-lg);
    transition: background-color 220ms ease, box-shadow 220ms ease;
}

#create-room:hover, #join-room:hover{
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.5);
  background-color: var(--color-bg-daccent);
}

#create-room > * {
    margin-bottom: 7px;
}

#join-room{
    margin-top: 5px;
    margin-bottom: 15px;
}

#join-room > * {
    margin: 5px;
}

#pairing-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pairing-info{
    background-color: var(--color-bg);
    padding: 15px;
    border-radius: var(--radius-lg);
    font-size: var(--large);
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#zipline-chat-section{
    display: flex;
}

#chat-feed{
    margin-right: 15px;
}

#message-feed{
    margin: 10px 0px;
    background-color: var(--color-bg);
    border-radius: var(--radius-lg);
    width: 350px;
    height: 355px;
    overflow: scroll;
}

#chat-input{
    display: flex;
    justify-content: center;
}

#text-input{
    border-radius: 50px 0px 0px 50px;
    border: 2px solid var(--color-bg-daccent);
    padding: 7px;
}

#chat-folder{
    border-radius: 0px;
    border: 2px solid var(--color-bg-daccent);
    padding: 7px 7px;
    padding-bottom: 9px;
    font-size: var(--large);
}

#chat-send{
    border-radius: 0px 50px 50px 0px;
    border: 2px solid var(--color-bg-daccent);
    padding: 5px; 
}

#control-panel > *{
    margin-bottom: 5px;
}

.message{
    padding: 15px;
    border-bottom: 1px solid var(--color-text);
    background-color: light-dark(#e7eaff, #181827);;
}

.message > button {
    font-size: var(--large);
    padding: 0px;
    background-color: transparent;
    margin-left: 10px;
}

@media screen and (max-width: 750px) {
    #room-options{
        min-width: 100px;
    }

    #chat-feed{
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #zipline-chat-section{
        flex-direction: column;
    }
}